@model Movie
<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/@Model.ImageUrl" alt="@Model.Title" width="200px;" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <div>
                    @* <a class="btn btn-primary" href="/movies/details/@Model.MovieId">details</a> *@
                    <a class="btn btn-primary" asp-controller="movies" asp-action="details" asp-route-id="@Model.MovieId">Details</a>
                    @* <a class="btn btn-primary" href="/movies/edit/@Model.MovieId">duzenle</a> *@
                    <a class="btn btn-warning" asp-controller="movies" asp-action="edit" asp-route-id="@Model.MovieId">Edit</a>

                    @*                     <a class="btn btn-primary" asp-controller="movies" asp-action="delete" asp-route-id="@Model.MovieId">Edit</a> //Silme işlemi için delete action'u' oluşturup silme işlemi yapabiliriz ama biz farklı bir yöntemle yaptık *@


                    <form asp-controller="Movies" asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="Title" value="@Model.Title" />
                        <input type="hidden" name="MovieId" value="@Model.MovieId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>